---
layout: default
title: Home
---

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am a second-year Ph.D. student supervised by <a href="https://www.cse.msu.edu/~tangjili/" target="_blank">Dr. Jiliang Tang</a> at Michigan State University (MSU). Before joining MSU, I did my M.S. at Dartmouth College. I also graduated summa cum laude in Computer Science at Texas Christian University. 
  </p>

  <p>
  I am broadly interested in graph-related problems. My area of specialization is at the intersections of <b>Machine Learning on Graphs</b> and <b>Topological Deep Learning</b>. In the past, I had opportunities to participate in Computer Vision projects, 
  specifically Vehicle Re-identification and 3D Object Detection.
  </p> 

  <p>
  I am always open to collaborations and discussions. Feel free to reach out to me via email! 🖐️
  </p>
</div>

<!-- <div class="docs-section" id="prospective-students">  
  <h4>Prospective Students</h4>
  <p>
  <b>I'm recruiting PhD students to start Fall 2024 at the University of Washington! </b> 
  I'm looking for students passionate about using computational methods to study how social platforms can be reimagined to <u>enable better conversations, bridge political divides, and reduce the spread of misinfo</u>.
  I'm particularly interested in the <u>role of algorithms</u> in social platforms.
  I'm especially looking for students with a background and/or interest in <u>social network analysis, machine learning, causal inference, or natural language processing</u>.
  <br/>
  If you are interested, please apply to the UW iSchool <a href="https://ischool.uw.edu/programs/phd/admissions" target="_blank">PhD program</a> and mention me in your application.
  <br/>
  If you have any questions, feel free to reach out.
  </p> 
</div> -->

<!-- ========== NEWS ========== -->
<!-- Had to add empty anchor to solve the problem of fixed header
     hiding part of paper
-->
<div class="docs-section" id="news">
  <h4>News</h4>
  <!-- <p> Scroll for older news </p> -->
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:250px;">
    <li> <b>[04/2026]</b>
      Our paper <a href="#selected-PlainTransLinkPred2026" onclick="switchToSelectedTab()">Plain Transformers are Surprisingly Powerful Link Predictors</a> has been accepted to ICML'26!
    </li>
    <li> <b>[02/2026]</b>
      Our preprint <a href="#selected-PlainTransLinkPred2026" onclick="switchToSelectedTab()">Plain Transformers are Surprisingly Powerful Link Predictors</a>  is now online on arXiv!
    </li>
    <li> <b>[01/2026]</b>
      I started my internship at Nokia as an AI/R&D Engineer Co-op at Sunnyvale, CA! 🌴
    </li>
    <li> <b>[10/2025]</b>
      I am honored to receive the NeurIPS 2025 Scholar Award! 🎉
    </li>
    <li> <b>[09/2025]</b>
      Paper <a href="#selected-RDL2025" onclick="switchToSelectedTab()">A Pre-training Framework for Relational Data with Information-theoretic Principles</a> 
      has been accepted to NeurIPS 2025. See you in San Diego! ✈️
    </li>
    <li> <b>[07/2025]</b>
      Our <a href="#selected-RDL2025" onclick="switchToSelectedTab()">preprint</a> on Relational Deep Learning is now online on arXiv.
    </li>
    <li> <b>[01/2025]</b>
      Our <a href="#selected-TopoX2024" onclick="switchToSelectedTab()">TopoX paper</a> is published in the Journal of Machine Learning Research (JMLR)! 🎉
    </li>
    <li> <b>[08/2024]</b>
      I will join Michigan State University as a Ph.D. student in the Department of Computer Science and Engineering! 🥳 🎉
    </li>
    <li> <b>[03/2024]</b>
      I will give a talk on Topological Deep Learning at the <a href="https://hpcc.vn/event/hpcc-special-seminar-decoding-computational-challenges/" target="_blank">HPCC Special Seminar</a>, an event hosted by the Advanced Institute
      of Interdisciplinary Science and Technology - HCMUT, VNU-HCM.
    </li>
    <li> <b>[02/2024]</b>
      <a href="#selected-TopoX2024" onclick="switchToSelectedTab()">TopoX</a> article is now online on arXiv! TopoX is a suite of libraries facilitating deep learning on topological spaces.
    </li>
    <li> <b>[01/2024]</b>
      Our <a href="#selected-WLPath2023" onclick="switchToSelectedTab()">paper</a> was mentioned in the 
      blog <a href="https://towardsdatascience.com/graph-geometric-ml-in-2024-where-we-are-and-whats-next-part-i-theory-architectures-3af5d38376e1" target="_blank">Graph & Geometric ML in 2024: Where We Are and What's Next</a>, 
      a comprehensive review of highlights from the fields in 2023. So proud to be a part of an ever-growing community!
    <li> <b>[12/2023]</b>
       Paper <a href="#selected-WLPath2023" onclick="switchToSelectedTab()">Weisfeiler and Lehman Go Paths: Learning Topological Features via Path Complexes</a> has been accepted to AAAI 2024.
    </li>
    <li> <b>[09/2023]</b>
       We are proud to contribute <a href="#selected-WLPath2023" onclick="switchToSelectedTab()">our research</a> to the <a href="https://github.com/pyt-team/TopoNetX" target="_blank">TopoNetX</a> initiative!
   </li>
    <!-- <li> [12/09/2023]
      Paper <a href="#all-WLPath2023" onclick="switchToAllTab()">Weisfeiler and Lehman Go Paths: Learning Topological Features via Path Complexes</a> has been accepted to AAAI 2024.
   </li> -->
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <span class="anchor" id="selected-{{paper.id}}"></span>
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_url %}
              <a class="button" href="{{ paper.paper_url }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.bib %}
              <button class="button" onclick="toggleBibTeX('selected', '{{ paper.id }}')">BibTeX</button>
            {% endif %}
          </div>
          <!-- Add a div to display BibTeX entry -->
          <div id="bib-selected-{{ paper.id }}" style="display: none; font-size: 0.8em;">
            <div>
              <pre>{{ paper.bib | escape }}</pre>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <span class="anchor" id="all-{{paper.id}}"></span>
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_url %}
              <a class="button" href="{{ paper.paper_url }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
            
            {% if paper.bib %}
              <button class="button" onclick="toggleBibTeX('all', '{{ paper.id }}')">BibTeX</button>
            {% endif %}
          </div>
          <!-- Add a div to display BibTeX entry -->
          <div id="bib-all-{{ paper.id }}" style="display: none; font-size: 0.8em;">
            <div>
              <pre>{{ paper.bib | escape }}</pre>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<!-- ========== OPEN-SOURCE PROJECTS ========== -->
<div class="docs-section" id="opensource">
  <h4>Open-Source Projects</h4>
  
  <div class="opensource-project">
    <div class="project-content">
      <div class="project-logo">
        <img src="https://user-images.githubusercontent.com/8267869/234068354-af9480f1-1d18-4914-92f1-916d9093e44d.png" alt="TopoNetX Logo" class="project-logo-img">
      </div>
      <div class="project-info">
        <h3 class="project-title"><a href="https://github.com/pyt-team/TopoNetX" target="_blank" class="project-link">TopoNetX: Computing with Relational Data Abstracted as Topological Domains</a></h3>
        <div class="github-stats">
          <div class="stat-badge">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span class="stat-label">Stars</span>
            <span class="stat-value" id="stars-count">-</span>
          </div>
          <div class="stat-badge">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span class="stat-label">Forks</span>
            <span class="stat-value" id="forks-count">-</span>
          </div>
        </div>
        <div class="project-description">
          <p>TopoNetX (TNX) is a package for computing with topological domains and studying their properties. With its dynamic construction capabilities and support for arbitrary attributes and data, TopoNetX allows users to easily explore the topological structure of their data and gain insights into its underlying geometric and algebraic properties.</p>
          <p><em>Part of the TopoX suite, published in <a href="https://jmlr.org/papers/v25/24-0110.html" target="_blank">JMLR 2024</a></em></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>CV</h4>

  <p>Full CV in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag flag-with-layout {% if exp.category == 'work' %}flag-direction-l{% else %}flag-direction-r{% endif %}">
            {% if exp.logo %}
              <img src="{{ exp.logo | prepend: site.baseurl }}" class="institution-logo" alt="" />
            {% endif %}
            <span class="flag-text">{{ exp.place }}</span>
          </span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        {% if exp.advisor %}
          <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }} <br/> Advisor: <a href={{exp.advisor_url}} target="_blank">{{ exp.advisor }}</a> </div>
        {% elsif exp.mentor and exp.mentor2 %}
          <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }} <br/> Mentors: <a href={{exp.mentor_url}} target="_blank">{{ exp.mentor }}</a>, <a href={{exp.mentor2_url}} target="_blank">{{ exp.mentor2 }}</a> </div>
        {% elsif exp.mentor %}
          <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }} <br/> Mentor: <a href={{exp.mentor_url}} target="_blank">{{ exp.mentor }}</a> </div>
        {% else %}
          <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== TALKS ========== -->
<div class="docs-section" id="talks">
  <h4>Talks</h4>
    <UL style="list-style-type: none"> <b>[03/2024]</b>
      Talk about <b>Topological Deep Learning</b> at <a href="https://hpcc.vn/event/hpcc-special-seminar-decoding-computational-challenges/" target="_blank">HPCC Special Seminar: Decoding Computational Challenges</a>, hosted by the 
      Advanced Institute of Interdisciplinary Science and Technology - HCMUT, VNU-HCM.
    </UL>
</div>

<!-- ========== REVIEWING ========== -->
<div class="docs-section" id="reviewing">
  <h4>Academic Services</h4>
  <UL style="list-style-type: none">
    <li> <b>[Spring 2026]</b>
      Journal Reviewer, ACM Transactions on Knowledge Discovery from Data (TKDD).
    </li>
    <li> <b>[Spring 2026]</b>
      Conference Reviewer, International Conference on Machine Learning (ICML).
    </li>
    <li> <b>[Fall 2025]</b>
      Conference Reviewer, Learning on Graphs (LoG).
    </li>
    <li> <b>[Fall 2025]</b>
      Program Committee Member / Conference Reviewer, Annual AAAI Conference on Artificial Intelligence (AAAI).
    </li>
    <li> <b>[Summer 2025]</b>
      Conference Reviewer, Conference on Neural Information Processing Systems (NeurIPS).
    </li>
    <li> <b>[Summer 2025]</b>
      Journal Reviewer, IEEE Transactions on Big Data (TBD).
    </li>
    <li> <b>[Fall 2024]</b>
      Conference Reviewer, International Conference on Learning Representations (ICLR).
    </li>
    <li> <b>[Fall 2024]</b>
      Journal Reviewer, ACM Transactions on Knowledge Discovery from Data (TKDD).
    </li>
  </UL>
</div>

<!-- ========== TEACHING ========== -->
<div class="docs-section" id="teaching">
  <h4>Teaching Experience</h4>
  <UL style="list-style-type: none">
    <li> <b>[Fall 2025]</b>
      CSE 335: Object-oriented Software Development - Teaching Assistant, Michigan State University.
    </li>
    <li> <b>[Winter 2024]</b>
      ENGS 96: Mathematics for Machine Learning - Teaching Assistant, Dartmouth College.
    </li>
  </UL>
</div>


<!-- ========== MISC ========== -->
<div class="docs-section" id="misc">
  <h4>Misc.</h4>
  I adopted a feral tabby back in the summer of 2019, and named her <b>Bún Bò</b> (aka Beef Noodle) after my favorite Viet dish, <a href="https://en.wikipedia.org/wiki/B%C3%BAn_b%C3%B2_Hu%E1%BA%BF" target="_blank">Bún Bò Huế</a>.
  Since then, she has been my source of happiness, motivation, and disturbance (occasionally).

  <div style="margin-top: 15px;"></div>
  <div class="image-container">
    <img src="assets/bb/BB1.jpg"/>
    <img src="assets/bb/BB3.jpg"/>
    <img src="assets/bb/BB2.jpg"/>
  </div>
</div>

<div class="docs-section" id="acknowledgement">
  <h4>Acknowledgement</h4>
  The website was built with <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> and designed by <a href="https://faculty.washington.edu/msaveski/" target="_blank">Martin Saveski</a>.
  Some website layouts are based on those of <a href="https://dmelis.github.io/" target="_blank">David Alvarez-Melis</a>.
</div>  


<!-- JS functions -->
<script>
  // Function to fetch GitHub statistics
  async function fetchGitHubStats() {
    try {
      const response = await fetch('https://api.github.com/repos/pyt-team/TopoNetX');
      if (response.ok) {
        const data = await response.json();
        document.getElementById('stars-count').textContent = formatNumber(data.stargazers_count);
        document.getElementById('forks-count').textContent = formatNumber(data.forks_count);
      } else {
        console.error('Failed to fetch GitHub stats:', response.status);
      }
    } catch (error) {
      console.error('Error fetching GitHub stats:', error);
    }
  }

  // Function to format numbers (e.g., 1000 -> 1k)
  function formatNumber(num) {
    if (num >= 1000) {
      return (num / 1000).toFixed(1) + 'k';
    }
    return num.toString();
  }

  // Fetch GitHub stats when the page loads
  document.addEventListener('DOMContentLoaded', function() {
    fetchGitHubStats();
  });

  // Function to toggle the visibility of BibTeX entry
  function toggleBibTeX(tabPrefix, paperId) {
    // Determine the prefix based on the tabId
    var prefix = (tabPrefix === 'selected') ? 'selected' : 'all';
    var bibElement = document.getElementById('bib-' + prefix + '-' + paperId);
    if (bibElement.style.display === 'none' || bibElement.style.display === '') {
      bibElement.style.display = 'block';
    } else {
      bibElement.style.display = 'none';
    }
  }

  function switchToAllTab(){
    // Remove the 'active' class from the currently active tab
    var activeTab = document.querySelector('.tab-pane.active');
    activeTab.classList.remove('active');
    // Remove the 'active' class from the currently active button
    var activeButton = document.querySelector('.tab-nav .button.active');
    activeButton.classList.remove('active');

    // Show the "All" tab and its content
    var allTab = document.getElementById('papers-all');
    allTab.classList.add('active');

    // Set the 'active' class for the "All" button
    var allButton = document.querySelector('.tab-nav [data-ref="#papers-all"]');
    allButton.classList.add('active');
  }

  function switchToSelectedTab(){
    // Remove the 'active' class from the currently active tab
    var activeTab = document.querySelector('.tab-pane.active');
    activeTab.classList.remove('active');
    // Remove the 'active' class from the currently active button
    var activeButton = document.querySelector('.tab-nav .button.active');
    activeButton.classList.remove('active');

    // Show the "All" tab and its content
    var allTab = document.getElementById('papers-selected');
    allTab.classList.add('active');

    // Set the 'active' class for the "All" button
    var allButton = document.querySelector('.tab-nav [data-ref="#papers-selected"]');
    allButton.classList.add('active');
  }
</script>
