<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Quang Truong">
  <meta name="author" content="Quang Truong">
  <meta property="og:title" content="Quang Truong" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://quang-truong.github.io" />
  <meta property="og:site_name" content="Quang Truong" />
  <meta name="google-site-verification" content="qQkypjp3CQgwtqi1hFgMk2Uwi-mLixctPV72RsEsfEM" />
  <link rel="canonical" href="http://quang-truong.github.io" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>

  <!-- Academicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- Skeleton tabs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton_tabs/skeleton-tabs.css" | prepend: site.baseurl }}>
  <script src={{ "/libs/external/skeleton_tabs/skeleton-tabs.js" | prepend: site.baseurl }}></script>

  <!-- Timeline
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/timeline.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="stylesheet" href={{ "/libs/external/github-prettify-theme.css" | prepend: site.baseurl }}>-->
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>
  <link rel="shortcut icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PF1KFM6D3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6PF1KFM6D3');
  </script>
  
  <!-- Color name -->
  <style>
    h1 { color: rgb(0, 137, 52); }
  </style>

  <!-- Color heading -->
  <style>
    h4 { color: rgb(0, 137, 52); }
  </style>
</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <section class="header">
      <div class="row">
        <div class="three columns">
          <a href="{{ site.baseurl }}/"><img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}'></a>
        </div>
        <div class="nine columns main-description">
            <h1>{{ site.data.main_info.name }}</h1>
            <p>{{ site.data.main_info.title }}</p>
            <p>{{ site.data.main_info.email }}</p>
            <p>
              <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer; margin-left: 5px; margin-right: 5px;">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer; margin-left: 5px; margin-right: 5px;">
                <i class="fa fa-github" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer; margin-left: 5px; margin-right: 5px;">
                <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
              </span>
            </p>
        </div>
      </div>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a></li>
          <!-- <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#prospective-students" | prepend: site.baseurl }}>Prospective Students</a></li> -->
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#news" | prepend: site.baseurl }}>News</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#publications" | prepend: site.baseurl }}>Publications</a></li>
          <!--<li class="navbar-item"><a class="navbar-link" href={{ "/index.html#projects" | prepend: site.baseurl }}>Projects</a></li>-->
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#resume" | prepend: site.baseurl }}>CV</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#talks" | prepend: site.baseurl }}>Talks</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#reviewing" | prepend: site.baseurl }}>Services</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#teaching" | prepend: site.baseurl }}>Teaching</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#misc" | prepend: site.baseurl }}>Misc.</a></li>
        </ul>
      </div>
    </nav>

    {{ content}}

    <div class="footer">
      <div class="row">
        <div class="three columns">
          {{ site.data.main_info.name }}
        </div>
        <div class="six columns">
          {{ site.data.main_info.email }}
        </div>
        <div class="three columns">
          <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
            <i class="fa fa-twitter" aria-hidden="true" style="font-size: 1.25em;"></i>
          </span>
          <!-- <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </span> -->
          <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
            <i class="fa fa-github" aria-hidden="true" style="font-size: 1.25em;"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
            <i class="ai ai-google-scholar ai-lg" aria-hidden="true" style="font-size: 1.25em;"></i>
          </span>
        </div>
      </div>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
